/*  ====================
    Overall Page Styling
    ====================  */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

:root {
    --site-color: rgb(243, 49, 49);
    --border-style: 1px solid white;
}

body {
    background-color: rgb(21, 21, 21);
    overflow-x: hidden;
    margin: 0px;
}

/*  ============
    Text Styling
    ============  */
h1 {
    color: white;
    text-align: center;
    font-size: clamp(1px, 10vw, 96px);
}
#edm {
    background: linear-gradient(90deg, royalblue, orchid, royalblue);
    background-size: 200% auto;
    color: white; /* Fallback for older browsers */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 4s linear infinite;
}
#edm-glow {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: clamp(0%, 10vw, 96px);
    inset: 55px auto auto 5px;
    filter: blur(10px) saturate(200%);

    user-select: none;
    -webkit-user-select: none;
}
@keyframes gradient {
    0% {
    	background-position: 0% center;
  	}
  	100% {
    	background-position: 200% center;
  	}
}

h2 {
    font-size: 36px;
    color: white;
    margin-top: 16px;
    margin-bottom: 4px;
}

h3 {
    font-size: 28px;
    color: white;
    margin-bottom: 0px;
}

p {
    color: white;
    font-size: 18px;
    margin-bottom: 16px;
}

/*  ==================
    Header Box Styling
    ==================  */
header {
    display: flex;
    border: var(--border-style);
    height: auto;
    width: 100%;
}

.navbar {
    display: flex;
    width: 100%;
}

.navbutton {
    border-left: 1px solid red;
    height: 100%;
    width: 25%;
    padding: 10px;
    font-size: 20px;

    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    color: white;

    transition-duration: 0.2s;
}

.navbutton:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navdropdown {
    width: 50px;
    height: 50px;
    margin: 0px;
    display: none;
    cursor: pointer;

    transition-duration: 0.2s;
}

.navdropdown:hover {
    background-color: rgb(40, 40, 40);
}

.navdropdown::details-content {
    margin: 30px;
    margin-top: 0px;
}

/* This is the "hamburger" icon for the dropdown menu. */
summary p {
    font-size: 72px;
    font-family: none; /* Resets it to whatever the default is */
    user-select: none;

    margin: 0px auto 0px 4px;
    line-height: 50px;
}

.navdropbutton {
    border-left: 1px solid red;
    height: 100%;
    width: 150px;
    padding: 10px;
    z-index: 1; /* Puts buttons above the EDM text */

    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;

    transition-duration: 0.2s;
}

.navdropbutton:hover {
    background-color: rgb(30, 30, 30);
}

#navdroplist {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
}

#headericon {
    content: url(./media/icon.jpg);
}

/*  ====================
    Main Content Styling
    ====================  */
main {
    display: flexbox;
    border: var(--border-style);
}
main p {
    padding: 10px;
    margin: 4px;
}

#title {
    border: 1px solid grey; /* Temporary */
    background-image: url(./images/a-foggy-dance-club.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    background-position: center 220%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro {
    display: flex;
    border: 1px solid grey; /* Temporary */
    height: 150px;
    text-align: center;
    font-size: 24px;
    padding-left: clamp(25px, 20%, 250px);
    padding-right: clamp(25px, 20%, 250px);
    align-items: center;
}

#intro p {
    font-size: clamp(0.6em, 2vw, 1.25em);
}

#context {
    text-align: center;
    border: 1px solid grey; /* Temporary */
    padding-left: clamp(10px, 10vw, 250px);
    padding-right: clamp(10px, 10vw, 250px);
}

#content {
    text-align: center;
    border: 1px solid grey; /* Temporary */
    padding-left: clamp(10px, 10vw, 200px);
    padding-right: clamp(10px, 10vw, 200px);
}

.table {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(6, auto);
    grid-auto-flow: column;
    border: 4px solid white;
    margin: 16px;
}

.table p {
    font-size: 24px;
    padding: 6px;
    margin: 0px;
    height: 48px;
}

.table a {
    padding: 12px;
    border: 2px solid grey;
    border-bottom: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    height: 48px;
    text-decoration: none;
    transition-duration: 200ms;
}

.table a:hover {
    background-color: rgba(100, 100, 100, 0.2);
}

.table #all {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 6;
    font-size: 20px;
    padding: 10px;
}

#promo {
    text-align: center;
}

video {
    padding: 12px;
}

/*  ==================
    Footer Box Styling
    ==================  */
footer {
    display: flexbox;
    border: var(--border-style);
    padding: 10px;
}

/*  ======================
    Thinner Screen Styling
    ======================  */
@media (max-width: 500px) {
    .navbutton {
        display: none;
    }

    .navdropdown, .navdropbutton {
        display: inline;
    }

    .navdropbutton {
        padding-top: 10px;
    }

    #headericon {
        content: url(./media/logo.jpg);
    }

    #intro, #context, #content {
        padding-left: 5%;
        padding-right: 5%;
    }

    video {
        width: 90%;
    }
}